<!doctype html>

<html><head>

  <title>Young Agrarians</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/vendor/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/vendor/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="/vendor/leaflet.markercluster/dist/MarkerCluster.Default.css" />

  <%= stylesheet_link_tag 'marketing' -%>

</head><body>
  
  <!--
<%= request.fullpath -%>
  -->

  <% if request.fullpath == "/map" %>
    <%= render 'layouts/header' %>
    <script>
      window.is_embedded = false;
      var map_center = [49.1, -122.9];
      var map_zoom = 10;
    </script>
    <page>
  <% else %>
    <!-- embedded, no menu -->
    <script>
      window.is_embedded = true;
      var city_json = 'surrey_4326.json';
      var map_center = [49.104430, -122.801094];
      var map_zoom = 11;
      
    </script>
    <style>
      body { background: none }
    </style>
  <% end %>

    <results></results>
    <div id='map'></div>
    <form target='_blank' action='<%= new_listing_path -%>' method='get'>
      <button class='submit'>Submit a listing&nbsp;&nbsp;&nbsp;<big>+</big></button>
    </form>
    <layers></layers>
    <search></search>
    <listing></listing>
  </page>

  <script src="/tags/listing.tag" type="riot/tag"></script>
  <script src="/tags/search.tag" type="riot/tag"></script>
  <script src="/tags/layers.tag" type="riot/tag"></script>
  <script src="/tags/results.tag" type="riot/tag"></script>

  <script src="https://cdn.jsdelivr.net/riot/2.3.18/riot+compiler.min.js"></script>
  <script src="https://cdn.rawgit.com/fdaciuk/ajax/v1.0.10/dist/ajax.min.js"></script>
  <script src="/vendor/leaflet/dist/leaflet-src.js"></script>
  <script src="/vendor/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

  <%= javascript_include_tag 'embedded_map' -%>

  <script>
  var CATEGORY_ICONS = <%= raw icon_hash.to_json -%>;
  </script>

</body></html>
