<div class='map-marker' id="map-popup-<%= id %>">
	<div class="row">
		<% if ( _(url).isEmpty() ){ %>
		<h2><img src="<%= category_icon %>" /><%= name %></h2>
		<% } else { %>
		<h2><img src="<%= category_icon %>" /><a href="<%= url %>" target="_blank"><%= name %></a></h2>
		<% } %>
		<span class="category">
			<%= category_name %>
			<% if ( !_.isEmpty( subcategories ) ) { %>
				(<%= subcategories %>)
			<% } %>
		</span>
	</div>
	<p class="description"><%= description %></p>

	<div class="contact-info">
		<ul class="unstyled info">
			<% if ( !_(street_address).isEmpty() ){ %>
			<li class="address">
				<address><%= street_address %>, <%= city %>, <%= province %> <%= postal %></address>
			</li>
			<% } %>

			<% if ( !_(phone).isEmpty() ){ %>
			<li class="phone"><%= phone %></li>
			<% } %>

			<% if ( !_(twitter_url).isEmpty() ){ %>
			<li class="twitter"><a href="<%= twitter_url %>" target="_BLANK">Twitter</a></li>
			<% } %>

			<% if ( !_(fb_url).isEmpty() ){ %>
			<li class="facebook"><a href="<%= fb_url %>" target="_blank">Facebook</a></li>
			<% } %>
		</ul>
	</div>

	<div class="share">
		<p>Share this location with your friends!</p>
		<ul class="unstyled inline social">
			<li>
				<a class="facebook" href="#" target="_blank" title="Facebook"></a>
			</li>
			<li>
				<a class="twitter" href="#" target="_blank" title="Twitter"></a>
			</li>
		</ul>
	</div>
</div>
