
- field.form_value.each_with_index do |val, i|
  - if val['value']
    %p
      %b #{val['value']}
      %input{ :type => 'hidden', :name =>  "location[#{field.name}][#{i}][value]", :value => val['value']}
      %input{ :type => 'checkbox', :name =>  "location[#{field.name}][#{i}][chosen]", :value => 'on', :checked => val['chosen'], :disabled => (defined? disabled) ? disabled : nil}
      %input{ :type => 'text', :name => "location[#{field.name}][#{i}][comment]", :value => val['comment'], :disabled => (defined? disabled) ? disabled : nil}

