%h3<Learn More
- if @location.messageable?
  %p
    = link_to 'Message Listing Owner',
              new_location_message_path( @location ),
              class: 'button button-primary'
= contact_links( @location )
- if @location.phone.present?
  %b phone: 
  = link_to( @location.phone, "tel:#{@location.phone}", class: 'phone', target: '_blank' )
  %br

- if @location.email.present?
  %b email: 
  = content_tag( 'span', mail_to( @location.email ), class: 'contact-email' )
- if params[:signature]
  - e = Time.at( params[:expiry].to_i )
  - if Time.current < e
    %h3<Approve Listing
    - signature = @location.signature( e ).first
    - if signature == params[:signature]
      = form_for @location, builder: FormBuilder do |f|
        - #hidden_field_tag 'signature', params[:signature]
        - #hidden_field_tag 'expiry', params[:expiry]
        - #hidden_field 'is_approved', value: true
        - #submit('Approve Listing')