.listing-edit
  = render partial: 'locations/wizard_nav', locals: { selected: 'account' }
  %h3<Manage Your Listings
  - if current_user.nil?
    .form-content.boxy
      .row
        .columns.six.create_account
          %h4{:style => "margin-bottom:30px"} Create an account
          = form_for @account || Account.new, builder: FormBuilder do |f|
            = f.hidden_field_tag 'for_listing', 1
            = f.email_field :email
            = f.password_field :password
            .btn-wrap
              %label< &nbsp;
              %button.btn.btn-primary.btn-small{ name: 'step', value: 'description' } Create
        .columns.six.login
          %h4{:style => "margin-bottom:30px"} Log Into Your Account
          = form_for( Struct.new( :email, :password ).new, as: 'session', url: session_path, builder: FormBuilder,  method: :post ) do |f|
            = f.hidden_field_tag 'for_listing', 1
            = f.email_field :email
            = f.password_field :password
            .btn-wrap
              %label< &nbsp;
              %button.btn.btn-primary.btn-small{ name: 'step', value: 'description' } Login
      .row
        .columns.three
          &nbsp;
        .columns.six
          %h3.desktop<No Account Needed
          = form_for @location, builder: FormBuilder do |f|
            = f.hidden_field :account_id, value: -1
            No thanks, I won't need to manage my listing in the future.
            %button.btn.btn-primary.btn-small{ name: 'step', value: 'description' } Continue
  -  else
    %content

      = form_for @location, builder: FormBuilder do |f|
        = f.hidden_field :account_id, value: current_user.id
        %p
          You are logged as #{current_user.email}, click continue to attach 
          the new listing to that account.
        %button.btn.btn-primary.btn-small Continue
