%section
  = render partial: 'locations/wizard_nav', locals: { selected: 'account' }
  .row
    .column.twelve
      %h2<Manage Your Listing
  .row
    - if current_user.nil?
      .columns.six.create_account
        %h3<Create An Account
        = form_for @account || Account.new, builder: FormBuilder do |f|
          = f.hidden_field_tag 'for_listing', 1
          = f.email_field :email
          = f.password_field :password
          = f.submit( 'Create' )
      .columns.six.login
        %h3<Log Into Your Account
        = form_for( Struct.new( :email, :password ).new, as: 'session', url: session_path, builder: FormBuilder,  method: :post ) do |f|
          = f.hidden_field_tag 'for_listing', 1
          = f.email_field :email
          = f.password_field :password
          = f.submit( 'Login' )
    -  else
      .columns.twelve
        = form_for @location, builder: FormBuilder do |f|
          = f.hidden_field :account_id, value: current_user.id
          %p
            You are logged as #{current_user.email}, click continue to attach 
            the new listing to that account.
          = f.submit( 'Continue' )
  .row
    .columns.three
      &nbsp;
    .columns.six
      %h3<No Account Needed
      = form_for @location, builder: FormBuilder do |f|
        = f.hidden_field :account_id, value: -1
        No thanks, I won't need to manage my listing in the future.
        = f.submit( 'Continue' )

  %button.btn.btn-default<Cancel
  %button.btn.button-primary<Next
