.listing-edit
  = render partial: 'wizard_nav', locals: { selected: 'contact' }
  %h3<Contact Info
  = form_for @location, builder: FormBuilder do |f|
    .form-content.boxy.overflow.contact-info-form
      - @location.email ||= current_user && current_user.email
      - if @location.errors.any?
        .panel
          %ul
            - @location.errors.full_messages.each do |msg|
              %li<=msg
      = f.hidden_field_tag 'done', '1'
      .row
        .columns.six
          = f.text_field :street_address
          = f.text_field :city
          = f.select :country, [ ['Canada', 'CA'], ['United States', 'US']]
          = f.select :province, States::CANADIAN_PROVINCES
          = f.text_field :postal, label: 'Postal code'
          = f.phone_field :phone
          = f.url :fb_url, label: 'Facebok URL'
          = f.text_field :twitter_url, label: 'Twitter URL'
          = f.email :email
        .columns.six
          %p
            %big<Do you want your contact info displayed on the Young Agrarians U-Map?
            %span.required<*
          %p.radio-wrap
            = f.radio_option :public_contact, true, label: 'Yes! Please share these details publicly.'
          %p.radio-wrap
            = f.radio_option :public_contact, false, label: 'No, I prefer that people contact me through Young Agrarians In-Mail (account required).'
          = f.date :show_until
          %p
            %small Leave blank to show the listing permanently.
      .row{:style => "margin-top:1em"}
        .nine.columns.desktop
        .three.columns
          %span.required *
          required fields.            
        %p

    .btnbar
      .row{:style => "padding-top:20px"}
        .three.columns
          %a.btn.btn-muted{:href => cancel_locations_path} Cancel
        .three.columns.previous
          = f.submit( 'Previous', name: 'step', value: 'description' )
        .three.columns
          = f.submit( 'Submit' )          
        .three.columns{:style => "margin-left: 0"}
          %p.aside
            %small
              By clicking submit, I agree the to the 
              %a{:href => "/ya-u-map-privacy-policy.pdf", :target => "_blank"} privacy policy and terms.

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  $('.previous button').click( function( e )
  {
    // may break back...
    $('#done').remove();
  } );
  var states = #{States::AMERICAN_STATES.to_json};
  var provinces = #{States::CANADIAN_PROVINCES.to_json};
  $('#location_country').change( function(e)
  {
    $('#location_province').get(0).options.length = 0;
    var o = $('#location_province').get(0).options;
    if( $( e.currentTarget ).val() == 'US' )
    {
      for( var i = 0; i < states.length; i++ )
      {
        o[o.length] = new Option( states[i][0], states[i][1] );
      }
    }
    else
    {
      for( var i = 0; i < provinces.length; i++ )
      {
        o[o.length] = new Option( provinces[i][0], provinces[i][1] );
      }
    }

  });
