.listing-edit
  = render partial: 'locations/wizard_nav', locals: { selected: 'description' }
  %h3<About the Listing
  = form_for @location, builder: FormBuilder do |f|
    %content
      = f.text_field :name, required: true
      = f.select_tag 'nested_category_ids[]', category_options( @location ), 'value' => 1, label: 'Category'
      = f.text_area :description, required: true
      .field_info
        <span class='required-icon'>*</span> required fields
    .btnbar
      .row{:style => "padding-top:20px"}
        .three.columns
          %a.btn.btn-muted{:href => "/map"} Cancel
        .nine.columns
          = f.submit( 'Previous' )
          = f.submit( 'Next' )