= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
.listing-edit
  = render partial: 'locations/wizard_nav', locals: { selected: 'description' }
  %h3<About the Listing
  = form_for @location, builder: FormBuilder do |f|
    .form-content.boxy.description-form
      = f.text_field :name, required: true, label: 'Listing Title'
      #category
        - if @location.nested_categories.any?
          - @location.nested_categories.each do |c|
            = f.select_tag 'nested_category_ids[]', category_options( @location, c ), 'value' => 1, label: 'Subcategory'
        - else
          = f.select_tag 'nested_category_ids[]', category_options( @location ), 'value' => 1, label: 'Subcategory'
        = link_to 'add another subcategory', '#', class: 'add_category'
      = f.text_field :url, required: false
      = f.text_area :description, required: true
      .field_info
        <span class='required-icon'>*</span> required fields
    .btnbar
      .row{:style => "padding-top:20px"}
        .three.columns
          %a.btn.btn-muted{:href => cancel_locations_path} Cancel
        .nine.columns
          = f.submit( 'Previous', name: 'step', value: 'account' )
          = f.submit( 'Next', name: 'step', value: 'contact' )
          
:javascript
  $('a.add_category').click( function(e )
  {
    e.preventDefault();
    var newItem = $('#category div.form-element' ).first();
    $('#category div.form-element' ).last().after( newItem.clone() );
    $('#category div.form-element' ).last().append( $( "<a href='#' class='remove'>Remove</a>" ) );

  } );
  $( '#category').on( 'click', 'a.remove', function(e)
  {
    e.preventDefault();
    $( e.currentTarget ).closest('.form-element' ).remove();
  } );
