= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
.listing-edit
  = render( partial: 'wizard_nav', locals: { selected: 'categories' } )

  %h3<What kind of listing is this?

  = form_for @location do
    .form-content.overflow
      = hidden_field_tag 'next_step', 2
      .row
        - halfway = NestedCategory.level_2.count( 'distinct nested_categories.id' ) / 2
        - seen_kids = 0
        - col = 0
        - cur_col = nil
        - NestedCategory.meta.with_children.each do |category|
          - if cur_col != col
            - if col > 0
              #{"</div>".html_safe}
            #{"<div class='six columns'>".html_safe}
            - cur_col = col
          .category_section
            %h4<= category.name
            %ul.category-list
              - category.children.each do |child_category|
                - seen_kids += 1
                %li
                  %label
                    = radio_button_tag 'location[primary_category_id]',
                                       child_category.id,
                                       @location.primary_category_id.to_i == child_category.id,
                                       required: true
                    = child_category.name
          - if halfway < seen_kids && col != 1
            - col += 1
        #{"</div>".html_safe}
  
    .btnbar
      .row{ style: "padding-top:20px"}
        .four.columns
          %a.btn.btn-muted{ href: cancel_locations_path} Cancel
        .three.columns{ style: "text-align: right"}
          %button.btn.btn-primary{ type: "submit", name: 'step', value: 'account' } Next >

  :javascript
    var qs = {};
    var sqs = function(){
      // parse hash vars.
      qs = {};
      (window.location + '').split("?")[1].split("&").forEach(function(part){
        var key = part.split("=")[0];
        var val = part.split("=")[1] || 'true';
        qs[key] = decodeURIComponent(val)
      });
    };
    sqs();
    
    if (qs.embedded === 'true') {
      $('.category_section h4').each(function(){ // include only some some metacategories in Surrey
        if ($(this).text() != "Run Your Farm" & $(this).text() != "Land") {
          $(this).parent().remove();
        }
      });
      $('li label').each(function(){ // exclude some categories in Surrey
        var label_text = $(this).text();
        if (label_text.indexOf("Production Planning Tools") > -1  
         || label_text.indexOf("Land Resources") > -1
         || label_text.indexOf("Seeds") > -1) {
          $(this).parent().remove();
        }
      });      
    }
