.detail-page.standalone
  .listing-header{ class: category_class_list( @location )}
    .category-icon{ style: "background-image:url(#{big_icon_hash[category_class_list( @location )]})"} &nbsp;
    .category-heading #{category_class_list( @location )}
    #{image_tag 'umap-content-title.png'}/
    
    .filled
  .back #{link_to 'Return to Map', map_path}

  %h1<=@location.name

  - if current_user && @location.admin?( current_user )
    = link_to 'edit location details', edit_location_path( @location )
  %i
    = content_tag( 'span', @location.resource_type, class: 'resource-type' ) if @location.resource_type
    - if @location.bioregion.present?
      in #{@location.bioregion}
  
  #{top_category_list( @location )}
  
  - if @location.description.present? || @location.content.present?
    = content_tag( 'div', @location.description, class: 'location-description' ) if @location.description.present?
    = content_tag( 'div', @location.content, class: 'location-content' ) if @location.content.present?

  %h2<Examples for Clark
  -#  boolean with comment
  Wooded area:
  - if @location.wooded_land_size # old data
    - if @location.wooded_land_size.true?
      Yes
    - if @location.wooded_land_size.false?
      No
    - # theoretically could be neither true nor false if it were not set, but 
    - # would require abusing the current html form
    - if @location.wooded_land_size.comment.present? # present changes nil or empty string
      %span<= @location.wooded_land_size.comment
  - # end boolean with comments

  - # number fields
  - if @location.cultivable_area.present?
    There are #{@location.cultivable_area} acres available (number field)
  %br
  - # number fields
  - # string fields
  The land zoning is: #{@location.zoning}. (string field)
  %br
  - # string fields

  -# multiselect 
  Current use:
  %ul
    - @location.current_property_use.each do |use|
      %li
        = use['value'] 
        = content_tag( 'span', use['comment'], class: 'comment' ) if use['comment'].present?

  %h3<Vision (text field)
  %p
    = @location.long_term_vision


  .row-wrap
    .row
      .six.columns

        %h3<Location
        %p
          = display_address( @location )
        
        %h3<Details
        %p #{ @location.business_plan.comment }

        %h3<Learn More
        %p
          - if @location.messageable?
            = link_to 'Message Owner',
                      new_location_message_path( @location ),
                      class: 'button button-primary'
        = contact_links( @location )
        - if @location.phone.present?
          = link_to( @location.phone, "tel:#{@location.phone}", class: 'phone' )
          %br
        = content_tag( 'span', mail_to( @location.email ), class: 'contact-email' ) if @location.email.present?
        - if params[:signature]
          - e = Time.at( params[:expiry].to_i )
          - if Time.current < e
            %h3<Approve Listing
            - signature = @location.signature( e ).first
            - if signature == params[:signature]
              = form_for @location, builder: FormBuilder do |f|
                = f.hidden_field_tag 'signature', params[:signature]
                = f.hidden_field_tag 'expiry', params[:expiry]
                = f.hidden_field 'is_approved', value: true
                = f.submit('Approve Listing')

      .six.columns
        = render partial: 'comments'

        - if @location.latitude && @location.longitude
          #minimap
        = render partial: 'social' 

  .last-modified.text-muted
    Last modifed #{@location.updated_at ? distance_of_time_in_words( @location.updated_at, Time.current ) : 'unknown'} ago;
    #{@location.show_until ? @location.show_until : 'never expires'}.

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  $('.comment a.remove' ).click( function( e ) 
  {
    e.preventDefault();
    if( confirm( "Are you sure you want to remove that comment?" ) )
    {
      var c = $( e.target ).closest( '.comment' );
      c.hide();
      $.post( e.currentTarget.href, { '_method': 'delete' }, function(){ c.remove() } ).error( function(){ c.show(); } );
    }

  } );
