
= content_for :title do
  = @location.name

= content_for :metadesc do
  - if @location.description.present? || @location.content.present?
    = @location.description if @location.description.present?
    = @location.content if @location.content.present?

.detail-page.standalone
  = render partial: 'header'
  
  %h1
    %a.facebook{:href => '/locations/'+@location.id.to_s, :target => "_blank"}
      = @location.name

  - if current_user && @location.admin?( current_user )
    %p.pull-right
      = link_to 'Edit Location', edit_location_path( @location ), class: 'button button-primary'
  
  
  %i
    /= content_tag( 'span', @location.resource_type, class: 'resource-type' ) if @location.resource_type
    - if @location.bioregion.present?
      Located in #{@location.bioregion}
  
  #{category_list( @location )}
  
  - if @location.description.present? || @location.content.present?
    = content_tag( 'div', @location.description, class: 'location-description' ) if @location.description.present?
    = content_tag( 'div', @location.content, class: 'location-content' ) if @location.content.present?

  .row-wrap
    .row
      .six.columns

        = render partial: 'message'

        %h3<Address
        %p
          = display_address( @location )

      .six.columns
        = render partial: 'comments'

        - if @location.latitude && @location.longitude
          #minimap
        
  .social-wrap
    = render partial: 'social' 

  = render partial: 'modified'
  
  = render partial: 'blog'


= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  /*
  $('.comment a.remove' ).click( function( e ) 
  {
    e.preventDefault();
    if( confirm( "Are you sure you want to remove that comment?" ) )
    {
      var c = $( e.target ).closest( '.comment' );
      c.hide();
      $.post( e.currentTarget.href, { '_method': 'delete' }, function(){ c.remove() } ).error( function(){ c.show(); } );
    }

  });
  */