.detail-page.standalone
  .listing-header{ class: category_class_list( @location )}
    .category-icon{ style: "background-image:url(#{big_icon_hash[category_class_list( @location )]})"} &nbsp;
    .category-heading #{category_class_list( @location )}
    %a{ href: '/map' }
      #{image_tag 'umap-content-title.png'}
    
    .filled
  .back #{link_to 'Return to Map', map_path}

  %h1<=@location.name

  - if current_user && @location.admin?( current_user )
    = link_to 'edit location details', edit_location_path( @location )
  %i
    = content_tag( 'span', @location.resource_type, class: 'resource-type' ) if @location.resource_type
    - if @location.bioregion.present?
      in #{@location.bioregion}
  
  #{top_category_list( @location )}
  
  - if @location.description.present? || @location.content.present?
    = content_tag( 'div', @location.description, class: 'location-description' ) if @location.description.present?
    = content_tag( 'div', @location.content, class: 'location-content' ) if @location.content.present?

  %h2<Land Details

  .extensions
    .row
      .three.columns Total land size in acres
      .nine.columns #{ lf_simple(@location, 'land_size') }
    
    .row
      .three.columns Wooded Area
      .nine.columns #{ lf_bool_with_comment( @location, 'wooded_land_size' ) }

    .row
      .three.columns Cultivable Area
      .nine.columns #{ lf_simple(@location, 'cultivable_area') }

    .row
      .three.columns Expansion potential (acres)
      .nine.columns #{ lf_bool_with_comment( @location, 'expansion_options' )}

    .row
      .three.columns Zoning
      .nine.columns #{ lf_simple( @location, 'zoning' ) }

    .row
      .three.columns Current use
      .nine.columns #{ lf_multiselect(@location, 'current_property_use') }

    .row
      .three.columns Current practices
      .nine.columns #{ lf_multiselect(@location, 'current_practices') }

    .row
      .three.columns State of the surface of the cultivable area
      .nine.columns
        %p 
          = @location.surface_description
    .row
      .three.columns Description and historical use of land available for farming
      .nine.columns
        %p 
          = @location.historical_use
    
    .row
      .three.columns Road Access
      .nine.columns #{ lf_bool_with_comment( @location, 'road_access') }
    
    .row
      .three.columns Electricity
      .nine.columns #{ lf_bool_with_comment( @location, 'electricity') }
    
    .row
      .three.columns Cell Service
      .nine.columns #{ lf_bool_with_comment( @location, 'cell_service') }
    .row
      .three.columns Long-term goal or vision for land
      .nine.columns
        %p 
          = @location.long_term_vision
    
    .row
      .three.columns Known environmental hazards (wildfire area, flooding, etc.)
      .nine.columns #{ lf_bool_with_comment( @location, 'hazards') }
    
    .row
      .three.columns Current residents living on property
      .nine.columns #{ lf_bool_with_comment( @location, 'residents_present') }
    
    .row
      .three.columns Availability of farm buildings
      .nine.columns #{ lf_bool_with_comment( @location, 'farm_buildings') }
    
    .row
      .three.columns Land is fenced
      .nine.columns #{ lf_bool_with_comment( @location, 'is_fenced') }
    
    .row
      .three.columns Availability of farm machinery and tools
      .nine.columns #{ lf_bool_with_comment( @location, 'tools') }

    .row
      .three.columns Water source
      .nine.columns #{ lf_multiselect(@location, 'water_source') }
    
    .row
      .three.columns Water rights to these sources
      .nine.columns #{ lf_bool_with_comment( @location, 'water_rights') }
    
    .row
      .three.columns On-site housing
      .nine.columns #{ lf_bool_with_comment( @location, 'onsite_housing') }
    
    .row
      .three.columns Restricted access of visitors
      .nine.columns #{ lf_bool_with_comment( @location, 'restricted_vistor_access') }

    .row
      .three.columns Preferred Agriculture Products
      .nine.columns #{ lf_multiselect(@location, 'agriculture_preferred') }

    .row
      .three.columns Current Agriculture Practices
      .nine.columns #{ lf_multiselect(@location, 'practices_preferred') }

    .row
      .three.columns Agromic potential
      .nine.columns #{ lf_simple( @location, 'agronomic_potential' ) }

    .row
      .three.columns Current practices
      .nine.columns #{ lf_multiselect(@location, 'soil_details') }

    .row
      .three.columns Preferred arrangement
      .nine.columns #{ lf_simple( @location, 'preferred_arrangement' ) }
    
    .row
      .three.columns Would you be willing to mentor or advise the entering farmer(s)?
      .nine.columns #{ lf_bool_with_comment( @location, 'mentorship') }
    
    .row
      .three.columns Do you require references from the farmer(s)?
      .nine.columns #{ lf_bool_with_comment( @location, 'references_required') }

    .row
      .three.columns Agreement duration
      .nine.columns #{ lf_simple( @location, 'agreement_duration' ) }


  .row-wrap
    .row
      .six.columns

        %h3<Location
        %p
          = display_address( @location )
        
        %h3<Details
        %p #{ @location.business_plan.comment }

        %h3<Learn More
        %p
          - if @location.messageable?
            = link_to 'Message Owner',
                      new_location_message_path( @location ),
                      class: 'button button-primary'
        = contact_links( @location )
        - if @location.phone.present?
          = link_to( @location.phone, "tel:#{@location.phone}", class: 'phone' )
          %br
        = content_tag( 'span', mail_to( @location.email ), class: 'contact-email' ) if @location.email.present?
        - if params[:signature]
          - e = Time.at( params[:expiry].to_i )
          - if Time.current < e
            %h3<Approve Listing
            - signature = @location.signature( e ).first
            - if signature == params[:signature]
              = form_for @location, builder: FormBuilder do |f|
                - #hidden_field_tag 'signature', params[:signature]
                - #hidden_field_tag 'expiry', params[:expiry]
                - #hidden_field 'is_approved', value: true
                - #submit('Approve Listing')

      .six.columns
        = render partial: 'comments'

        - if @location.latitude && @location.longitude
          #minimap
        = render partial: 'social' 

  .last-modified.text-muted
    Last modifed #{@location.updated_at ? distance_of_time_in_words( @location.updated_at, Time.current ) : 'unknown'} ago;
    #{@location.show_until ? @location.show_until : 'never expires'}.

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  $('.comment a.remove' ).click( function( e ) 
  {
    e.preventDefault();
    if( confirm( "Are you sure you want to remove that comment?" ) )
    {
      var c = $( e.target ).closest( '.comment' );
      c.hide();
      $.post( e.currentTarget.href, { '_method': 'delete' }, function(){ c.remove() } ).error( function(){ c.show(); } );
    }

  } );
