%h1<=@location.name

%p
  = link_to 'Click here to return to the Young Agrarians Young Farmer resource map', map_path
- if current_user && @location.admin?( current_user )
  = link_to 'edit location details', edit_location_path( @location )
%h3
  %p
    = content_tag( 'span', @location.resource_type, class: 'resource-type' ) if @location.resource_type
    - if @location.bioregion.present?
      in #{@location.bioregion}
  #{top_category_list( @location )}


- if @location.description.present? || @location.content.present?
  %h3<Basic Details
  = content_tag( 'div', @location.description, class: 'location-description' ) if @location.description.present?
  = content_tag( 'div', @location.content, class: 'location-content' ) if @location.content.present?


%h3<Location
%p
  = display_address( @location )
%p
- if @location.latitude && @location.longitude
  = link_to( 'map', map_path )

%h3<Contact Details
%p
  = link_to 'Message Owner', new_location_message_path( @location )
  = contact_links( @location )
  - if @location.phone.present?
    = link_to( @location.phone, "tel:#{@location.phone}", class: 'phone' )
    %br
  = content_tag( 'span', mail_to( @location.email ), class: 'contact-email' ) if @location.email.present?
- if params[:signature] 
  - e = Time.at( params[:expiry].to_i )
  - if Time.current < e
    %h3<Approve Listing
    - signature = @location.signature( e ).first
    - if signature == params[:signature]
      = form_for @location, builder: FormBuilder do |f|
        = f.hidden_field_tag 'signature', params[:signature]
        = f.hidden_field_tag 'expiry', params[:expiry]
        = f.hidden_field 'is_approved', value: true
        = f.submit( 'Approve Listing' )


.last-modified.text-muted
  Last modifed #{@location.updated_at ? distance_of_time_in_words( @location.updated_at, Time.current ) : 'unknown'} ago;
  #{@location.show_until ? @location.show_until : 'never expires'}.
