.detail-page.standalone

  = render partial: 'header'

  %h1<=@location.name

  - if current_user && @location.admin?( current_user )
    = link_to 'edit location details', edit_location_path( @location )
  %i
    = content_tag( 'span', @location.resource_type, class: 'resource-type' ) if @location.resource_type
    - if @location.bioregion.present?
      in #{@location.bioregion}
  
  #{top_category_list( @location )}
  
  - if @location.description.present? || @location.content.present?
    = content_tag( 'div', @location.description, class: 'location-description' ) if @location.description.present?
    = content_tag( 'div', @location.content, class: 'location-content' ) if @location.content.present?
  
  %h2<Land Seeker Details
  .extensions
    .row
      .three.columns Training
      .nine.columns #{ lf_simple( @location, 'training' )}
    .row
      .three.columns Do you have a business plan? 
      .nine.columns #{ lf_bool_with_comment( @location, 'business_plan' )}
    .row
      .three.columns Do you have financial resources available to start your farm? 
      .nine.columns #{ lf_bool_with_comment( @location, 'financial_resources' )}
    .row
      .three.columns Do you have access to other financial resources (such as a financial partner, loan, etc.) to start your farm?'
      .nine.columns #{ lf_bool_with_comment( @location, 'other_financial_resources' )}

  %h3<Project
  .extensions
    .row
      .three.columns
      .nine.columns #{ lf_simple( @location, 'farm_name' ) }
    .row
      .three.columns Preferred Arrangement
      .nine.columns #{ lf_simple( @location, 'preferred_arrangement' )}
    .row
      .three.columns Duration of the desired agreement
      .nine.columns #{ lf_simple( @location, 'agreement_duration' ) }
    .row
      .three.columns deal date to obtain land by
      .nine.columns #{ lf_simple( @location, 'desired_start_date' ) }

  %h3<Land & Features Desired
  .extensions
    .row
      .three.columns Total Land Size (acres)
      .nine.columns #{ lf_simple( @location, 'desired_total_size' ) }
    .row
      .three.columns Wooded Area (acres)
      .nine.columns #{ lf_bool_with_comment( @location, 'wooded_area' )}
    .row
      .three.columns Cultivable Area (acres)
      .nine.columns #{ lf_simple( @location, 'desired_cultivable_area' ) }
    .row
      .three.columns Possibility to expand area currently available (acres)
      .nine.columns #{ lf_bool_with_comment( @location, 'expansion_size' )}
    .row
      .three.columns Zoning
      .nine.columns #{ lf_simple( @location, 'zoning' )}

    .row
      .three.columns Preferred current state of the surface of the cultivable area
      .nine.columns
        %p
          = @location.desired_surface_state

    .row
      .three.columns Open to landowner residing on property 
      .nine.columns #{ lf_bool_with_comment( @location, 'owner_resides' )}
    .row
      .three.columns Need farm buildings 
      .nine.columns #{ lf_bool_with_comment( @location, 'buildings_required' )}
    .row
      .three.columns Need fenced land 
      .nine.columns #{ lf_bool_with_comment( @location, 'fencing_required' )}
    .row
      .three.columns Need farm machinery and tools 
      .nine.columns #{ lf_bool_with_comment( @location, 'tools_required' )}
    .row
      .three.columns Need established water source and infrastructure 
      .nine.columns #{ lf_bool_with_comment( @location, 'need_water' )}
    .row
      .three.columns Need on-site housing 
      .nine.columns #{ lf_bool_with_comment( @location, 'need_housing' )}
    .row
      .three.columns Production type
      .nine.columns #{ lf_multiselect( @location, 'desired_use' )}
    .row
      .three.columns Type of agriculture
      .nine.columns #{ lf_multiselect( @location, 'desired_practices' )}
    .row
      .three.columns Soil needs
      .nine.columns #{ lf_simple( @location, 'soil_needs' )}

    .row
      .three.columns Will acquire commercial insurance
      .nine.columns #{ lf_bool_with_comment( @location, 'insurance' )}


  .row-wrap
    .row
      .six.columns
        
        = render partial: 'message'

        %h3<Location
        %p
          = display_address( @location )

      .six.columns
        = render partial: 'comments'

        - if @location.latitude && @location.longitude
          #minimap
        = render partial: 'social' 

  .last-modified.text-muted
    Last modifed #{@location.updated_at ? distance_of_time_in_words( @location.updated_at, Time.current ) : 'unknown'} ago;
    #{@location.show_until ? @location.show_until : 'never expires'}.

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  $('.comment a.remove' ).click( function( e ) 
  {
    e.preventDefault();
    if( confirm( "Are you sure you want to remove that comment?" ) )
    {
      var c = $( e.target ).closest( '.comment' );
      c.hide();
      $.post( e.currentTarget.href, { '_method': 'delete' }, function(){ c.remove() } ).error( function(){ c.show(); } );
    }

  } );
