.detail-page.standalone
  = render partial: 'header'

  %h1<=@location.name

  - if current_user && @location.admin?( current_user )
    = link_to 'edit location details', edit_location_path( @location )
  %i
    = content_tag( 'span', @location.resource_type, class: 'resource-type' ) if @location.resource_type
    - if @location.bioregion.present?
      in #{@location.bioregion}
  
  #{top_category_list( @location )}
  
  - if @location.description.present? || @location.content.present?
    = content_tag( 'div', @location.description, class: 'location-description' ) if @location.description.present?
    = content_tag( 'div', @location.content, class: 'location-content' ) if @location.content.present?

  .row-wrap
    .row
      .six.columns

        = render partial: 'message'

        %h3<Location
        %p
          = display_address( @location )

      .six.columns
        = render partial: 'comments'

        - if @location.latitude && @location.longitude
          #minimap
        
        .social-wrap
          = render partial: 'social' 

  .last-modified.text-muted
    Last modifed #{@location.updated_at ? distance_of_time_in_words( @location.updated_at, Time.current ) : 'unknown'} ago. 
    #{@location.show_until ? @location.show_until + '.' : ''}

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
:javascript
  $('.comment a.remove' ).click( function( e ) 
  {
    e.preventDefault();
    if( confirm( "Are you sure you want to remove that comment?" ) )
    {
      var c = $( e.target ).closest( '.comment' );
      c.hide();
      $.post( e.currentTarget.href, { '_method': 'delete' }, function(){ c.remove() } ).error( function(){ c.show(); } );
    }

  } );
